@import '../../mixins/flex.scss';

.container {
  border-radius: 4px;
  margin: 20px 0 20px 0;
  @include flex(column, start);
  // background-color: rgba($color: #c8b17e, $alpha: 0.2);
  background-color: rgba($color: #dce1fe, $alpha: 0.1);

  padding: 8px;

}
$gray-light-blue: #dce1fe;
$gray-light-blueish: #b9bece;
$gray-light-blueish-2: #c3c5cf;

.about {
  max-width: 600px;
  @include flex(column, start);
}
.project-title {
  font-size: 22px;
  color: var(--main-white-color)
}
.project-section {
  @include flex;
}
.description {
  width: 500px;
}

.tecnologies-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 12px;

}
.project-img {
  width: 320px;
  height: 280px;
  border-radius: 4px;
}

.footer {
  @include flex(column,start,start);

}

.icon {
  margin-right: 4px;
  height: 24px;
  width: 24px;
}