@import '../../mixins/flex.scss';

.content {
	text-align: center;
	@include flex(column, center);
	z-index: 10;

}
.title-main {
	font-family: 'Noto Serif';
	font-size: 64px;
	font-weight: 500;
	color: var(--lavender-blue-color);
	color: var(--purple-indigo-color);
	letter-spacing: 5.2px;
}
.headline-main {
	font-family: 'Roboto';
	font-size: 24px;
	font-weight: 500;
	color: var(--lavender-white-color);
	letter-spacing: 0.8px;
	text-transform: uppercase;
}
.subtitle-main {
	// font-family: 'Noto Serif';
	font-family: 'Roboto';
	font-size: 26px;
	// color: var(--soft-gray-color);
	color: var(--pool-gray-color);
	font-weight: 500;
	letter-spacing: 2px;
}

.text-wrapper {
	width: 100%;
	@include flex(column, start, start)
}

.tooltip-overlay {
	@include flex;
	padding: 0;
	background: none;
}

.link {
	background-color: transparent;
}

.tooltip-element {
	cursor: pointer;
	border-radius: 4px;
	display: flex;
	@include flex;
	padding: 0 12px;
	height: 40px;
	color: var(--white-warm-color);
	background-color: var(--pink-color);
	font-weight: 500;
	transition: all 0.4 ease-in-out;

}

.btns-wrapper {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.rc-tooltip-inner.rc-tooltip-inner {
	background: transparent;
	padding: 0;
	&:hover {
		color: var(--white-text);
	}
}

