

.content {
  // display: flex;
  // flex-direction: column;
  position: absolute;
  top: 150px;
  left: 200px;
  max-width: 350px;
}

.title {
  font-family: 'Noto Serif';
  font-size: 48px;
  font-weight: 500;
  color: var(--light-text-color);
  letter-spacing: 1.5px;
}
.subTitle{
  font-family: 'Karla';
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 2px;
}