

.content {
  max-width: 350px;
}

.title {
  font-family: 'Noto Serif';
  font-size: 48px;
  font-weight: 500;
  color: var(--lavender-white-color);
  letter-spacing: 1.2px;
}
.subTitle {
  font-family: 'Karla';
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 2px;
  white-space: nowrap;

}
.btns-wrapper {
  // width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}