@import './theme.scss';

:root.light {
	--body-color: black;
	--body-background: #e5eaf5;
}

:root.dark {
	--body-color: #94a1b2;
	--body-background: #29293c;
}

html {
	min-height: 100%;
	width: 100%;
	overflow-x: hidden;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	color: var(--body-color);
	font-family: 'Proxima nova', 'Montserrat', sans-serif;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
	position: relative;
	&::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

body::before {
	content: '';
	position: fixed; // Change to fixed positioning
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	// background-image: linear-gradient(rgba(87, 67, 167, 0.6), rgba(87, 67, 167, 0.5)), url('../assets/sky.svg');
	// background-image: linear-gradient(rgba(122, 119, 133, 0.1), rgba(47, 46, 52, 0.5)), url('../assets/bg.svg');
	// background-image: url('../assets/bg.svg');
	// background-color: var(--dark-panel-background-color);
	background-color: #2a2c33;

	// background-size: cover;
	// background-repeat: no-repeat;
	// background-position: center center;
	z-index: -1;
}

button {
	background: none;
	color: inherit;
	border: none;
	letter-spacing: 1px;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

h2,h3 {
	margin: 0;
	padding: 0;
}

p {
	font-family: 'Droid Serif Mono';
	letter-spacing: 0.6px;
	color: var(--pool-gray-color);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

*:focus-visible {
	outline: none;
}

a,
a:focus,
a:hover {
	color: inherit;
	text-decoration: none;
}
