@import '../consts/theme/colors.scss';

:root {
	--hover-blue-color: #{inspect($hover-blue)};
	--purple-indigo-color: #{inspect($lavender-indigo)};
	--yellow-default-color: #{inspect($default-yellow)};
	--sticker-purple-color: #{inspect($sticker-purple)};
	--sticker-dark-purple-color: #{inspect($sticker-dark-purple)};
	--lavender-blue-color: #{inspect($lavender-blue)};
	--pink-color: #{inspect($pink)};
	--pink-text-color:#{inspect($pink-text)};
	--pink-dark-color:#{inspect($pink-dark)};
	--purple-dark-color: #{inspect($purple-dark)};
	--pool-gray-color: #{inspect($pool-gray)};
	--text-secondary-color: #{inspect($green-cyan)};
	--main-white-color: #{inspect($main-white)};
	--light-text-color: #{inspect($label_bg_color)};
	--lavender-white-color: #{inspect($lavender-blush)};
	--white-warm-color: #{inspect($white-warm)};
	--gray-light-blue-color: #{inspect($gray-light-blue)};
	--gray-dark-purple-color: #{inspect($gray-dark-purple)};
	--dark-panel-background-color: #{inspect($dark-panel-background)};
	--soft-gray-color: #{inspect($soft-gray)};
	--dark-green-color: #{inspect($dark-green)};
	--light-gray-green-color: #{inspect($dark-panel-background)};
	--off-white-color: #{inspect($off-white)};

	--button-small-border-radius: 150px;
	--button-small-height: 30px;
	--button-medium-height: 60px;
	--button-large-height: 90px;
	--button-medium-border-radius: 150px;
	--button-large-border-radius: 150px;
	--button-small-padding: 0 15px;
	--button-medium-padding: 0 20px;
	--button-large-padding: 0 25px;

}
