@import '../../mixins/flex.scss';



.home {
  display: flex;
  flex-direction: column;
  width: 1280px;
  margin: 0 auto;
}

.home-section {
  @include flex(row, center, space-between);
  width: 100%;
  margin: 100px 0 120px 0;
}

.category {
  align-self: center;
  @include flex;
}

.photo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../assets/profile.svg);
  width: 370px;
  height: 370px;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: 0 0 10px var(--sticker-dark-purple-color); 
  transition: all 0.2s ease-in-out;
  &:hover {
    // box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    box-shadow: 0 5px 20px 1px var(--purple-indigo-color);
  }
}
// color: var(--white-warm-color);