@import '../../mixins/flex.scss';



.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;

}

.home-section {
  @include flex(row, center, space-around);
  width: 100%;
  margin-bottom: 150px;
}

.photo {
  background-image: url(../../assets/travel-2.svg);
  width: 405px;
  height: 405px;
}
