.initial {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // margin: 0 auto;
  position: relative;
  // overflow: hidden; // To contain the pseudo-elements
  border-bottom: 3px solid var(--pool-gray-color);
  // z-index: -1;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%; // Cover the full height
  }

  &::before {
    left: 0;
    background-color: #2a2c33;
  }

  &::after {
    left: 50%; // Position it at the right half
    background-color: #0f0f11;
    z-index: -1;
  }
}