.initial {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-bottom: 2px solid var(--pool-gray-color);

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
  }

  &::before {
    left: 0;
    background-color: #2a2c33;
  }

  &::after {
    left: 50%;
    background-color: #0f0f11;
    z-index: -1;
  }
}