@import '../../mixins/flex.scss';
.header-container {

	height: 120px;
	padding-top: 30px;

	@include flex(center, space-around);

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;

	&.is-scrolling {
		background: radial-gradient(
			circle,
			rgba(74, 70, 130, 0.6),
			rgba(95, 53, 104, 0.6)
		);
	}

	// &.border-bottom-active {
	// 	border-bottom: 2px solid var(--pink-color);
	// }
}
