@import '../../mixins/flex.scss';
.container {
	height: 120px;
	padding-top: 30px;

	@include flex(center, space-around);

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;

	&.is-scrolling {
		background: radial-gradient(
			circle,
			rgb(27 25 50 / 50%),
			rgb(27 9 31 / 50%)
		);
	}

	&.border-bottom-active {
		border-bottom: 2px solid yellow;
	}
}
