@import '../../mixins/flex.scss';

.section {
  flex-direction: column;
  align-items: center;
  height: 400px;
  margin: 120px 0 100px 0;
}

.section-title {
  font-weight: lighter;
  line-height: 34px;
  padding-bottom: 8px;
  font-family: 'Proxima nova';
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;

  &::before {
		position: absolute;
		bottom: 0;
    left: 0;
		content: '';
		height: 2px;
		// background: var(--purple-indigo-color);
		border-bottom: 2px solid var(--pink-color);
		width: 140px;
		display: block;
	}
}