@import '../../mixins/font.scss';

.text {
	@include text;
}

.button {
	width: 140px;
	height: 40px;
	border-radius: 4px;
	margin-right: 6px;
	color: #fff;
	font-weight: 500;
	// &.has-border {
	//   border: 2px solid var(--yellow-default-color);
	// }
	position: relative;
	transition: border-bottom 0.2s ease;
	&.is-active::before {
		// border-bottom: 2px solid yellow;
		// border-bottom: 2px solid var(--pink-color);
		display: block;
	}
	&.has-background {
		background-color: var(--pink-color);
	}
	&::before {
		position: absolute;
		bottom: 0;
		content: '';
		height: 2px;
		// background: var(--purple-indigo-color);
		border-bottom: 2px solid var(--pink-color);
		width: 140px;
		display: none;
	}

	&.has-border-bottom:hover {
		// border-bottom: 2px solid var(--purple-indigo-color);
		&::before {
			display: block;
		}
	}
}
