
@import '../../mixins/font.scss';


.text {
 @include text;
}


.button {
  width: 130px;
  height: 40px;
  border-radius: 8px;
  

  &:hover {
    background-color: pink;
    color: green($color: #000000);
  }
}