
@import '../../mixins/font.scss';


.text {
 @include text;
}

.button {
  width: 140px;
  height: 40px;
  border-radius: 4px;
  
  &.has-border {
    border: 1px solid #845BB3;
  }

  &.is-active{
    border-bottom: 1px solid yellow;
  }

  // &:hover {
  //   border: 1px solid #845BB3;
  // }
}