$denim-blue: #273caa;
$deep-blue: #2f3660;
$faux-indigo: #242d5d;
$dark-panel-background: #2a2c33;
$lavender: #dce1fe;
$light-lavender: #e9edfe;
$dark-lavender: #eaeaeb;
$lavender-blush: #fef9fa;
$main-white:#f5fefd;
$lavender-blue: #c2ccfe;
$lavender-indigo: #854cef;
$purple-dark: #372952;
$sticker-purple: #854ce0;
$sticker-dark-purple: #5c349b;
$blue-medium: #283cae;
$hover-blue: #2e46c8;
$pink: #f40e6f;
$arena-light-gray: #f0f1f4;
$label_bg_color: #e7e7ec;
$blue-dark: #0a1749;
$gray-light-blue: #dce1fe;
$gray-light-blueish: #b9bece;
$gray-light-blueish-2: #c3c5cf;
$gray-lighten2: #e1e2eb;
$gray-lighten3: #ebecf2;
$gray-dark: #707070;
$gray-dark-blue: #5a699d;
$default-yellow: #ffd356;
